.category {
  display: flex;
  padding: 0.8em 0.8em;
  border-radius: 10px;
}

.category:not(:last-child) {
  margin-bottom: 1em;
}

.category__name {
  flex: 1;
  margin-left: 1em;
}

.category__score {
  font-weight: 700;
  color: rgba(60, 59, 59, 0.362);
}

.accentScore {
  color: var(--dark-gray-blue);
}
